:root {
  --very-dark-magenta: hsl(300, 43%, 22%);
  --soft-pink: hsl(333, 80%, 67%);
  --dark-greyish-magenta: hsl(303, 10%, 53%);
  --light-greyish-magenta: hsl(300, 24%, 96%);
  --white: hsl(0, 0%, 100%)
;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 62.5%;
}

@media only screen and (max-width: 68.75em) {
  html {
    font-size: 50%;
  }
}

body {
  font-family: 'Spartan', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--very-dark-magenta);
}

.container {
  background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
  background-position: top left, bottom right;
  background-repeat: no-repeat;
  padding: 10rem 10rem;
  height: 100vh;
}

@media only screen and (max-width: 56.25em) {
  .container {
    height: 150vh;
  }
}

@media only screen and (max-width: 37.5em) {
  .container {
    height: 200vh;
  }
}

@media only screen and (max-width: 25em) {
  .container {
    background-image: url(images/bg-pattern-top-desktop.svg), url(images/bg-pattern-bottom-desktop.svg);
    padding: 10rem 3rem;
    height: 165vh;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
}

.header__text {
  width: 40%;
}

@media only screen and (max-width: 56.25em) {
  .header__text {
    width: 64%;
  }
}

@media only screen and (max-width: 25em) {
  .header__text {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.header__heading--1 {
  font-size: 5rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 25em) {
  .header__heading--1 {
    font-size: 3.5rem;
    margin-bottom: 3rem;
    width: 90%;
    left: 50%;
  }
}

.header__p--1 {
  font-size: 1.5rem;
  line-height: 1.6;
}

@media only screen and (max-width: 25em) {
  .header__p--1 {
    font-size: 1.9rem;
    width: 100%;
  }
}

.rating-cards__card {
  background-color: var(--light-greyish-magenta);
  margin-top: 1.5rem;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding: 2rem 5rem 1.3rem 3rem;
  font-weight: 700;
  font-size: 1.5rem;
  white-space: nowrap;
}

@media only screen and (max-width: 56.25em) {
  .rating-cards__card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 2rem;
  }
}

@media only screen and (max-width: 25em) {
  .rating-cards__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 2rem 7rem;
  }
}

.rating-cards__card.card-1 {
  -webkit-transform: translateX(-7rem);
          transform: translateX(-7rem);
}

@media only screen and (max-width: 56.25em) {
  .rating-cards__card.card-1 {
    -webkit-transform: none;
            transform: none;
  }
}

.rating-cards__card.card-2 {
  -webkit-transform: translateX(-3.5rem);
          transform: translateX(-3.5rem);
}

@media only screen and (max-width: 56.25em) {
  .rating-cards__card.card-2 {
    -webkit-transform: none;
            transform: none;
  }
}

.rating-cards__stars {
  margin-right: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .rating-cards__stars {
    margin-right: 1rem;
  }
}

.rating-cards__icon-star {
  width: 1.5rem;
  margin-right: 3px;
}

@media only screen and (max-width: 56.25em) {
  .rating-cards__icon-star {
    width: 2rem;
  }
}

.testimonials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 56.25em) {
  .testimonials {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 6rem;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    position: absolute;
  }
}

@media only screen and (max-width: 25em) {
  .testimonials {
    width: 75%;
  }
}

.testimonials__testimonial-card {
  background-color: var(--very-dark-magenta);
  border-radius: 1rem;
  padding: 3rem;
  width: auto;
}

.testimonials__testimonial-card:not(:last-child) {
  margin-right: 3rem;
}

@media only screen and (max-width: 56.25em) {
  .testimonials__testimonial-card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
  }
}

.testimonials__testimonial-card.testimonial-card-1 {
  -webkit-transform: translateY(-2rem);
          transform: translateY(-2rem);
}

@media only screen and (max-width: 56.25em) {
  .testimonials__testimonial-card.testimonial-card-1 {
    -webkit-transform: none;
            transform: none;
  }
}

.testimonials__testimonial-card.testimonial-card-3 {
  -webkit-transform: translateY(2rem);
          transform: translateY(2rem);
}

@media only screen and (max-width: 56.25em) {
  .testimonials__testimonial-card.testimonial-card-3 {
    -webkit-transform: none;
            transform: none;
  }
}

.testimonials__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 3rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonials__top-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.testimonials__img {
  border-radius: 50%;
  width: 5rem;
  margin-right: 3rem;
}

.testimonials__p-1 {
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 700;
}

.testimonials__p-2 {
  color: var(--soft-pink);
  font-size: 1.5rem;
}

.testimonials__p-3 {
  color: var(--light-greyish-magenta);
  font-size: 1.5rem;
}
/*# sourceMappingURL=socialproof.css.map */